<!--Referencing the jinja blocks-->
{% extends "base.html" %}

<!--Title Block-->
{% block title %}Login{% endblock %}

<!--Content Block-->
{% block content%}
<form method="POST">
    <h3 align="center">Login</h3>

    <!--fname-->
    <div class="form-group">
        <label for="uname">Username</label>
        <input type="text", class="form-control" id="uname" name="uname" placeholder="Enter username">
    </div>

    <!--password-->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password", class="form-control" id="pass" name="pass" placeholder="Enter password">
    </div>

    <br>

    <!--Submit button-->
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
{% endblock %}
